{% extends "base.html" %}

{% block content %}
<h2> Competitions </h2>

{% if current_user.isAdmin %}
<a href="{{url_for('competitions.addCompetition')}}">Add a competition</a>
{% endif %}

<div class="panel-group" id="accordian">
{%if comps|length > 0 %}			
	{% for comp in comps %}	
		<div class="panel panel-default">
			<div class="panel-heading">
				{% if current_user.isAdmin == True %}		
					 <a class="panel-title" data-toggle="collapse" data-parent="" href="#collapse-{{comp._id}}">{{comp.compName}} </a> [<a href="/comps/editCompetition/{{comp.compName}}"> Edit </a> ] [<a href="/comps/removeCompetition/{{comp.compName}}"> X </a>  ]
				{% else %}
					 <a class="panel-title" data-toggle="collapse" data-parent="" href="#collapse-{{comp._id}}">{{comp.compName}} </a>
				
				{% endif %}

			</div>
			<div id="collapse-{{comp._id}}" class="panel-collapse collapse">
				<div class="panel-body">
				{% if current_user.is_authenticated() %}
				<p>Upload SGML attempt</p>

					<form method = post action="/comps/upload" enctype="multipart/form-data">
						<input type="file" name = "file" accept=".sgm, .sgml, .xml">
						<input type = "hidden" name = "compName" value = "{{comp.compName}}"> 
						<input type = "hidden" name = "teamName" value = "{{current_user.teamName}}"> 
						<input type="submit">
					</form>
				{% endif %}
					<table style="width:100%">
						<tr>
							<td><strong>Description</strong></td>
							<td>{{comp.description}}</td>	
						</tr>
						<tr>
							<td><strong>Deadline</strong></td>
							<td>{{comp.deadline}}</td>	
						</tr>
						<tr>
							<td><strong>Format</strong></td>
							<td>{{comp.format}}</td>	
						</tr>
						<tr>
							<td><strong>Requirements</strong></td>
							<td>{{comp.requirements}}</td>	
						</tr>
						<tr>
							<td><strong>Organiser</strong></td>
							<td>{{comp.organiser}}</td>	
						</tr>
						<tr>
							<td><strong>Contact</strong></td>
							<td>{{comp.contact}}</td>	
						</tr>
						<tr>
							<td><strong>Test Data</strong></td>
							<td><a href="/download/{{comp.testData}}">{{comp.testData}}</td>	
						</tr>
						<tr>
							<td><strong>Training Data</strong></td>
							<td><a href="/download/{{comp.trainingData}}">{{comp.trainingData}}</a></td>	
						</tr>
					</table>
				</div>
			</div>
		</div>
	{% endfor %}
{% endif %}
</div>

{% endblock %}