{% extends "base.html" %}

{% block content %}
	<div class="contentsWrapper">
	<div class="contents">
		<div>
			<h1 class="options">Admin panel</h1>
			<div class="panel-group" id="accordian">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="accordian" href="#collapse-teamList">Edit team information</a>
					</div>
					<div id="collapse-teamList" class="panel-collapse collapse">
						<div class="panel-body">
							I am a team list
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#accordian" href="#panel-element-285251">Pending teams</a>
					</div>
					<div id="panel-element-285251" class="panel-collapse collapse">
						<div class="panel-body">
							I am a team list
						</div>
					</div>
				</div>
			</div>

		</div>
		{%if current_user.isAdmin == True %}
		<br>
		<br>
		<br>
		<h1 class="listOfFeatures">Users Pending Approval</h2>
			{%if pendingUsers|length > 0 %}			
				<table style="width:100%">
					<tr>
						<th>Email</th>
						<th>Username</th>
						<th colspan="2"></th>
					</tr>
						{% for user in pendingUsers %}
							<tr>
								<td>{{user.email}}</td>
								<td>{{user.username}}</td>
								<td><a href="/acceptUser/{{user._id}}" >Accept</a></td>
								<td><a href="/rejectUser/{{user._id}}" >Reject</a></td>
							</tr>
						{% endfor %}
				</table>
			{% else %}
				<h3>No Pending Users</h3>
			{%endif%}
		{%endif%}
	</div>
	</div>
{% endblock %}